{% extends 'policy/base_mailer.html' %}
{% block introduction %}
<p style="text-align: justify;">
    Estamos atualizando nossos Termos de Uso
</p>
{% endblock %}
{% block content %}
<p style="text-align: justify;">
    Nossa comunidade e visão de viagens cresceu significativamente, por isso
    estamos atualizando nossos Termos de Uso. Seu uso continuado da Plataforma
    do StartupGO a partir desse de hoje em diante estará sujeito ao novo
    Termo de Uso. Quando você usar a Plataforma do StartupGO neste ou após este
    dia, você será solicitado a concordar com os novos Termos de Uso.
</p>
<p style="text-align: justify;">
    Você pode clicar <strong>aqui</strong> para conferir os novos Termos.
    Publicamos também algumas informações para explicar essas alterações mais
    detalhadamente na nossa página de Atualização dos Termos de Uso.
    Tanto a versão nova dos Termos como as antigas podem ser encontradas
    nas guias Termos de Uso.
</p>
<p style="text-align: justify;">
    Obrigado por ser membro da nossa comunidade global.
</p>
{% endblock %}
