DATABASE_URL=sqlite:///db.sqlite3
DEBUG=on
AUTHENTICATION_API_BASE_URI=
AUTHENTICATION_PUBLIC_KEY_JWK={"kty": "RSA", "e": "AQAB", "use": "sig", "alg": "RS256", "n": "k_lPORJ6qmSdkruoBn-RMAuVwsJa-FOqHPQ9JJG5nVGM_v-KAn_UIsuNJjXuLxsfZoA_VjvWvcw4Uwtp9VZ7yXd2MR0bRot9wKzpdmQwg4G8DIGklaZoI42oKsv1njCspsDJibMC8mVA1f1Z5dWLq1F4W1_PavUtVT1BpYVHhCrdi-3fJO4pex-keo8EavjrduG39X8SzFIqEjsKr-0fsdkoMyjowUsCRLnyX9EUYTFYMnDhE78EdIMlm-grvNFZcPP5DlbBGfRn3CyNXGotCf-O3Hpw-7ZTsGjFvNLHbRzUktxvluQxvWfg367miCGWc8YtKnzlCOvOO4qahkV0aw"}